@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 420px;
    width: 87%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  cursor: pointer;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:focus {
  outline: none;
}

.section {
  padding: 90px 0;
}

.section-title {
  margin: auto;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
  max-width: 700px;
}

.section-subtitle {
  display: block;
  font-size: 20px;
  text-align: center;
}

.input {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 20px 0 20px 26px;
  font-size: 15px;
  color: #999999;
}

.scroll-to-top {
  position: fixed;
  right: 5%;
  bottom: 10%;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #ffd200;
  font-size: 15px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
  opacity: .7;
}

.scroll-to-top:hover {
  background-color: yellow;
  opacity: 1;
}

.scroll-to-top:active {
  background-color: #ffd200;
}

.arrows__left, .arrows__right {
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000000;
  -webkit-transition: .2s;
  transition: .2s;
  width: 0%;
}

.navbar__button:hover {
  background-color: #ffdb33;
}

.navbar__button:hover::after {
  width: 100%;
}

.navbar__phone {
  display: inline-block;
  margin-top: 10px;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 27px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 567px) {
  .navbar {
    padding: 17px 0;
  }
  .navbar__button {
    font-size: 10px;
    border-radius: 5px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
  color: #333333;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.hero__title {
  margin-bottom: 37px;
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero__subtitle {
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero__features {
  margin-top: 66px;
  padding: 0;
  max-width: 330px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}

.hero__features li {
  padding-left: 70px;
  margin-bottom: 30px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__features li:last-child {
  margin-bottom: 0;
}

.hero__list-1 {
  background: url(../img/list-1.png) no-repeat;
}

.hero__list-2 {
  background: url(../img/list-2.png) no-repeat;
}

.hero__list-3 {
  background: url(../img/list-3.png) no-repeat;
}

.hero__img {
  max-width: 570px;
  width: 100%;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 45px;
  }
  .hero__subtitle {
    font-size: 16px;
  }
  .hero__features {
    margin-top: 28px;
    margin-bottom: 0;
  }
  .hero__features li {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .hero__content {
    padding-left: 20%;
  }
  .hero-block {
    display: block;
  }
  .hero__img {
    margin-top: 38px;
  }
}

@media (max-width: 567px) {
  .hero {
    padding: 38px 0;
  }
  .hero__content {
    padding-left: 0;
  }
  .hero__title {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.3px;
  }
  .hero__subtitle {
    display: block;
    max-width: 250px;
    font-size: 16px;
  }
  .hero__features {
    font-size: 12px;
    line-height: 15px;
  }
  .hero__features li {
    padding-left: 55px;
  }
}

.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  margin-bottom: 24px;
  text-align: left;
  margin: 0 0 24px 0;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
  text-align: left;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1pt orange;
          box-shadow: 0 0 0 1pt orange;
}

.offer__button {
  width: 100%;
  min-height: 60px;
  margin-bottom: 31px;
}

.offer-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.offer-call__item {
  width: 230px;
}

.offer-call__num {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding-right: 40px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .offer-call {
    display: block;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding: 0 10%;
  }
  .offer__title {
    max-width: 450px;
  }
  .section {
    padding: 34px 0;
  }
}

@media (max-width: 567px) {
  .offer-block {
    padding: 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18px;
  }
  .offer__subtitle {
    margin-bottom: 25px;
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__title {
  text-align: center;
  margin-bottom: 30px;
}

.modal__form {
  text-align: center;
}

.modal__input {
  margin-bottom: 30px;
  width: 90%;
  font-size: 14px;
}

.modal__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1pt orange;
          box-shadow: 0 0 0 1pt orange;
}

.modal__button {
  width: 90%;
  font-size: 14px;
}

.success {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.success_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.success-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 20px;
}

.success-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.success-dialog__title {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: 0 auto 100px;
  font-size: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.portfolio__arrows {
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px auto 0;
}

.slider__img {
  margin: auto;
}

.slick-dots {
  overflow: hidden;
}

@media (max-width: 567px) {
  .portfolio__title {
    font-size: 18px;
    line-height: 23px;
    margin: 0 auto 50px;
  }
  .portfolio__arrows {
    margin: 35px auto 0;
  }
}

.price-title {
  margin: auto;
  margin-bottom: 58px;
  font-size: 30px;
}

.price-subtitle {
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin: 0 auto 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.card__image {
  display: block;
}

.card__img {
  position: relative;
}

.card__img::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__img:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
  position: relative;
}

.card__link:hover::after {
  height: 12px;
}

.card__link::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: .1s;
  transition: .1s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .price__card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .price__card {
    margin: 0 auto 30px;
  }
}

@media (max-width: 567px) {
  .price {
    padding-top: 50px;
  }
  .price-title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 23px;
  }
  .price-subtitle {
    font-size: 14px;
  }
  .card__text {
    padding: 20px;
  }
  .card__title {
    font-size: 14px;
  }
  .card__subtitle {
    font-size: 16px;
  }
}

.steps {
  padding-top: 32px;
}

.steps__title {
  margin-bottom: 59px;
}

.steps__subtitle {
  margin-bottom: 60px;
}

.steps-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.steps__item {
  width: 15%;
  text-align: center;
  position: relative;
}

.steps__img {
  padding: 33px;
  border: 3px solid #ffd200;
  border-radius: 50%;
}

.steps__img-circle {
  padding: 33px 37px;
  border-radius: 50%;
  border: 3px solid #ffd200;
}

.steps-arrow {
  position: absolute;
  top: -11px;
  left: 175px;
}

.steps__text {
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .steps-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps__item {
    width: 33%;
    margin-bottom: 20px;
  }
  .steps-arrow {
    display: none;
  }
}

@media (max-width: 567px) {
  .steps {
    padding-top: 0;
  }
  .steps-inner {
    display: block;
  }
  .steps__item {
    display: block;
    width: 130px;
    max-width: 100%;
    margin: 29px auto;
  }
  .steps__title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 27px;
  }
  .steps__subtitle {
    font-size: 14px;
    margin-bottom: 34px;
  }
  .steps__text {
    font-size: 12px;
  }
}

.feature {
  background-color: #ffc000;
  padding: 100px 0;
}

.feature-title {
  font-size: 32px;
  line-height: 50px;
  max-width: 910px;
  text-align: center;
  margin: auto;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 100px;
}

.features__item {
  width: 30%;
  min-height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f5;
}

.features__text {
  position: relative;
  top: 27px;
  left: 27px;
  max-width: 280px;
  font-size: 16px;
}

.features__bold {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .feature {
    padding: 80px 0;
  }
  .feature-title {
    font-size: 28px;
    line-height: 40px;
  }
  .features__item {
    min-height: 330px;
  }
  .features__text {
    top: 20px;
    left: 20px;
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .feature {
    padding: 50px 0;
  }
  .feature-title {
    font-size: 18px;
    max-width: 450px;
    line-height: 25px;
  }
  .features {
    display: block;
  }
  .features__item {
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px;
    min-height: 300px;
  }
  .features__item:first-child {
    margin-top: -50px;
  }
  .features__text {
    top: 20px;
    left: 20px;
    max-width: 180px;
    font-size: 14px;
    line-height: 16.83px;
  }
}

@media (max-width: 567px) {
  .feature-title {
    font-size: 18px;
    max-width: 260px;
    line-height: 25px;
  }
  .features__text {
    font-size: 12px;
  }
}
