body
  font-family: sans-serif
  margin: 0

img
  max-width: 100%

.container
  width: 1170px
  margin: auto
@media ( max-width: 1200px )
  .container
    width: 750px
@media ( max-width: 768px )
  .container
    max-width: 580px
    width: 95%
@media ( max-width: 567px )
  .container
    max-width: 420px
    width: 86%

  

.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px