.portfolio
  background: $secondary url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left
  background-size: 50%
  &__title
    margin: 0 auto 100px
    font-size: 30px
    +bold
  &__arrows
    max-width: 120px
    display: flex
    justify-content: space-between
    margin: 70px auto 0

.slider
  &__img
    margin: auto
.slick
  &-dots
    overflow: hidden

@media ( max-width: 567px )
  .portfolio
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 auto 50px
    &__arrows
      margin: 35px auto 0